@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #232323;

    --radius: 0.5rem;
  }

  .dark {
    --background: #232323;

    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: var(--background);
  color: white;
  font-family: var(--font-inter);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #5c5555;
}

section::-webkit-scrollbar {
  width: 0rem;
}

section::-webkit-scrollbar-track {
  background: #1e1e24;
}

section::-webkit-scrollbar-thumb {
  background: #5c5555;
}

.mono {
  font-family: var(--font-mono);
}
